*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins'), local('Poppins-Regular'), url(/fonts/Poppins-Regular.ttf), format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins'), local('Poppins-Bold'), url(/fonts/Poppins-Bold.ttf), format("truetype");
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins'), local('Poppins-Black'), url(/fonts/Poppins-Black.ttf), format("truetype");
}

html {
  font-size: 62.5%;  
  width: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;  
  font-family: 'Poppins', sans-serif;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  opacity: 0;     
}

@media (max-width: 767px) {
  html {
    font-size: 50%;
  }
}